node_modules
./dist
npm-debug.log
.DS_Store
.projectile
/cache/
/release/
/debug/
/dist/
/bower_components/
**/node_modules/
/node_modules/
/plugins/QuoteTest
/.idea/
/electron-packager/
/src/**/sprite*.*
/plugins/**/sprite*.*
.happypack
rev-manifest.json
.vscode
demo
package-lock.json
target
release
yarn-error.log
/figwheel_server.log
/.lein-repl-history
.eslintcache