// @import './temp';
@import './reset';
@import './banner';
@import './nav';
@import './content';
@import './footer';

.wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    background: #fff url(../images/logo.jpg) no-repeat 20px center
}