.header {
    width: 1200px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #fff;
    z-index: 100;
    .logo {
        flex: 1;
        // height: 100%;
    }
    .shop {
        flex: 1;
        display: flex;
        ul {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    flex: 1;
                    background-color: #f2f2f2;
                    border-right-style: solid;
                    border-right-color: #e6e6e6;
                    border-right-width: 1px;
                    padding: 0;
                    display: inline-block;
                    text-align: center;
                    font-size: 20px;
                    color: #8c8c8c;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    line-height: 2.8rem;
                    transition: color .4s ease-out,background-color .4s ease-out;
                }
            }
        }
    }
}