.footer {
    width: 100%;
    background-color: #fff;
    color: #49545e;
    padding: 3rem 0 2.53333rem;
    margin-top: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    .footer_content {
        width: 1200px;
        display: flex;
        justify-content: center;
        align-content: center;
        .footer_menu {
            flex: 1;
            display: flex;
            dl {
                flex: 1;
                margin-right: 30px;
                dt {
                    font-size: 13px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                dd {
                    margin-bottom: 10px;
                }
                a {
                    color: #49545e;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}