.nav {
    flex: 2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    position: relative;
    transition: all .4s linear;
    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        .navbar-nav {
            flex: 3;
        }
        .logo {
            flex: .5;
            height: 100%;
            background-color: #fff;
            >span {
                height: 100%;
                width: 140px;
                margin-left: 20px;
            }
        }
    }
    .navbar-nav {
        flex: 1;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        >li {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .4s ease-out;
            cursor: pointer;
            position: relative;
            &.nav-item:hover {
                background-color: #282e34;
                color: #e6e6e6;
            }
            .icon-search {
                width: 20px;
                height: 20px;
                background: url(../images/index_hsch.png) no-repeat center;
                background-size: 90%;
            }
        }
        .search {
            // width: 440px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: absolute;
            top: 35px;
            right: 0;
            background: #fff;
            padding: 20px;
            box-shadow: 2px 2px #aaa;
            >li {
                display: flex;
                margin-bottom: 15px;
                text-indent: .5em;
            }
            input {
                height: 28px;
                padding: 5px 10px;
                font-size: 1rem;
                line-height: 1.25;
                color: gray;
                background-color: #fff;
                background-image: none;
                background-clip: padding-box;
                border: 1px solid rgba(0,0,0,.15);
                border-right: none;
                margin-right: -.2rem;
                transition: border-color .4s ease;
            }
            button {
                white-space: nowrap;
                background-color: #f0f0f0;
                border: none;
                height: 40px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 5px 10px;
                text-transform: uppercase;
                font-weight: 400;
                color: #fff;
                vertical-align: top;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-search {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url(../images/index_hsch.png) no-repeat center;
                    background-size: 90%;
                }
            }
        }
    }
}

.collapse {
    position: absolute;
    top: 50px;
    left: 0;
    // width: 100%;
    // height: 200px;
    background-color: #282e34;
    color: #e6e6e6;
    font-size: 15px;
    &-1 {
        // width: calc(100% - 100px);
        left: 100px;
    }
    &-2 {
        // width: calc(100% - 200px);
        left: 200px;
    }
    &-3 {
        // width: calc(100% - 300px);
        left: 300px;
    }
    &-4 {
        // width: calc(100% - 400px);
        left: 400px;
    }
    &-5 {
        // width: calc(100% - 500px);
        left: 500px;
    }
    .nav-div {
        .nav-ul {
            >li {
                padding: 10px;
                cursor: pointer;
                >a {
                    position: relative;
                    margin-left: 15px;
                    >span {
                        position: absolute;
                        left: -18px;
                        transition: all .4s linear
                    }
                }
                &:hover {
                    >a {
                        background-color: #49545e;
                        span {
                            left: -12px;
                        }
                    }
                }
                .nav-box {
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    >a {
                        position: relative;
                        margin-left: 15px;
                        cursor: pointer;
                        >span {
                            position: absolute;
                            left: -18px;
                            transition: all .4s linear
                        }
                        &:hover {
                            background-color: #49545e;
                            span {
                                left: -12px;
                            }
                        }
                    }
                }
            }
            &.float {
                >li {
                    float: left;
                    width: 130px;
                    &:nth-child(3) {
                        height: 250px;
                    }
                }
            }
        }
    }
    a {
        color: #e6e6e6;
    }
}
.nav.fixed {
    .collapse {
        position: absolute;
        top: 50px;
        background-color: rgba(40, 46, 52, .6);;
        color: #e6e6e6;

        width: 100%;
        padding: 0 10%;
        &-0, &-1, &-2, &-3, &-4, &-5 {
            left: 0;
        }
    }
}