.third {
    width: 1200px;
    font-size: 18px;
    >p {
        font-size: 24px;
        font-weight: 200;
        margin: 20px 0 40px;
    }
    .title {
        display: flex;
        margin-bottom: 60px;
        >a {
            flex-basis: 350px;
            height: 250px;
            >img {
                width: 100%;
                height: 100%;
            }
        }
        >div {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 30px;
            text-indent: 2em;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 400px;
            margin-bottom: 40px;
            a {
                display: block;
                padding: 0 25px;
                height: 200px;
                text-align: center;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 200px;
                }
            }
            dl {
                padding: 0 30px;
                dt {
                    font-weight: 500;
                    margin-bottom: 1em;
                    font-size: 20px;
                }
                dd {
                    font-size: 18px;
                    font-weight: 300px;
                }
            }
        }
    }
}
.empty-product {
    height: 200px;
    line-height: 200px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    span {
        color: red
    }
}