@import '../components/style/app';


#app {
    background: #4272ff url(../images/bg_pc_big.png) center no-repeat;
    background-size: auto 100%;
}

@media screen and (max-width: 600px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    #app {
        background: #4272ff url(../images/bg_mobile.png) center no-repeat;
        background-size: cover;
    }
}